@tailwind base;
@tailwind components;
@tailwind utilities;

.active-item::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -30px;
  width: 30px;
  height: 30px;
  background-color: #f9f9fb;
  border-radius: 0 16px 16px 0;
  box-shadow: 1px 10px 0 white;
  z-index: 1;
}

.active-item::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -30px;
  width: 30px;
  height: 30px;
  background-color: #f9f9fb;
  border-radius: 0 16px 16px 0;
  box-shadow: 1px -10px 0 white;
  z-index: 1;
}

.active-item button {
  position: relative;
  background-color: white;
  border-radius: 16px 0 0 16px;
  z-index: 2;
}
